*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.app-container-top {
    flex: 0 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.app-container-bottom {
    display: flex;
    flex: 1 1 auto;
    margin-top: 56px;
    margin-left: 25vh;
    margin-right: 25vh;
}

.main-content {
    flex: 1;
    min-width: 0;
}