.assignment-card {
  background: #dfffee;
  /* border: 1px solid #bdf2d8; */
  border-radius: 22px;
  padding: 8px;
  width: 300px;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.card-box {
  background: white;
  border-radius: 16px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.icon-box {
  background: #dfffee;
  padding: 6px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.class-type {
  font-weight: 500;
  font-size: 14px;
}

.subject {
  font-weight: 500;
  font-size: 12px;
  color: #6b7280;
  margin-left: auto;
}

.assignment-title {
  font-size: 18px;
  font-weight: 550;
  line-height: 26px;
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  align-items: center;
}

.deadline {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 12px;
}

.xp-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.xp-row span{
    font-size: 16px;
}

.xp-multiplier {
  background: #fde9c9;
  padding: 3px 8px;
  border-radius: 6px;
  font-weight: 500;
  color: #b45309;
}

.xp-score {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.card-footer p{
    font-size: 15px;
    padding-left: 14px;
    font-weight: 500;
    padding-bottom: 10px;
}

.solved {
  color: #16a34a;
  font-weight: 200;
}

.solve-btn {
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 14px;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 5px;
  margin-right: 10px;
}