.left-sidebar {
  width: 25vh;
  background-color: #fff;
  height: calc(100vh - 56px);
  border-right: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: fixed;
  top: 71px;
  left: 0;
    margin-right: 10px;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #e6e6e6;
  padding: 1.5rem 1rem;
}
.top h2 {
  font-size: 16px;
  color: #333;
}
.top h5 {
  font-size: 12px;
  color: #007a51;
  background-color: #d9fced;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  width: fit-content;
}

.left-sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 20px;
  background-color: #fff;
  overflow: hidden;
}

.home{
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #fff;
    border-radius: 12px;
    padding: 8px 16px;
    border: 1px solid #fff;
    background-color: #e5f1ff;
    color: #0673f9;
}

.home h2{
    font-size: 16px;
}

.home-icon{
    font-size: 25px;
}

.subjects {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.subjects h5{
    font-size: 12px;
    color: #333;
}

.sub-list{
    display: flex;
    flex-direction: column;
    gap: 18px;
    border: 1px solid #edeff3;
    border-radius: 12px;
    padding: 8px 12px;
}
.sub-list h3{
    font-size: 18px;
    font-weight: 400;
    color: #333;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link{
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px 16px;
    border: 1px solid #fff;
    color: #333;
}

.link h2{
    font-size: 16px;
    font-weight: 500;
}

.link .trend-icon{
    font-size: 24px;
    color: #333;
}

.support-section{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.help-support{
    background-color: #d9fced;
    color: #007a51;
}

.link:hover{
    background-color: #e5f1ff;
    color: #0673f9;
    border: 1px solid #e5f1ff;
}